[user]
	name = Zack Sampson
	email = zls@fastmail.com
[core]
    excludesfile = ~/.git.d/gitignore-global
[pull]
    rebase = true
[http]
	postbuffer = 524288000
[help]
    autocorrect = 10
[include]
        path = ~/.git.d/aliases.config
    path = ~/.git.d/aliases.config
