# This is Git's per-user configuration file.
[user]
        name = Zack Sampson
        email = zls.1988@gmail.com
[core]
        excludesfile = ~/.gitignore
[pull]
        rebase = true
[http]
        postbuffer = 524288000
[help]
        autocorrect = 10
[alias]
        rph = rev-parse HEAD
        cp = cherry-pick
        st = status -s
        cl = clone
        ci = commit
        co = checkout
        br = branch
        a = add
        rb = rebase
        cfd = clean -fd
        fa = fetch --all
        f = fetch
        d = diff --word-diff --submodule=diff
        dl = diff --word-diff --submodule=log
        r = reset
        rs = reset --soft
        rh = reset --hard
        smu = submodule update
        smr = submodule update --rebase
        ciaa = commit -a -C HEAD --amend
[pull]
        rebase = true
[http]
        postBuffer = 524288000
[help]
        autocorrect = 10
