[alias]
        rph = rev-parse HEAD
        cp = cherry-pick
        st = status -s
        cl = clone
        ci = commit
        co = checkout
        br = branch
        a = add
        p = push
        pf = push --force
        rb = rebase
        rbi = rebase --interactive
        rbc = rebase --continue
        cfd = clean -fd
        s = show --submodule=diff
        fa = fetch --all
        f = fetch
        d = diff --word-diff --submodule=diff
        dl = diff --word-diff --submodule=log
        r = reset
        rs = reset --soft
        rh = reset --hard
        rr = rev-parse --show-toplevel
        smu = submodule update
        smr = submodule update --rebase
        ciaa = commit -a -C HEAD --amend
