[alias]
        rp = rev-parse
        rph = rev-parse HEAD
        cp = cherry-pick
        st = status -s
        cl = clone
        ci = commit
        co = checkout
        br = branch
        a = add
        p = push
        pf = push --force
        rb = rebase
        rbi = rebase --interactive
        rbc = rebase --continue
        cfd = clean -fd
        s = show --submodule=diff
        sl = show --submodule=log
        fa = fetch --all
        f = fetch
        d = diff --word-diff --submodule=diff
        dl = diff --word-diff --submodule=log
        r = reset
        rs = reset --soft
        rh = reset --hard
        rr = rev-parse --show-toplevel
        smu = submodule update
        smr = submodule update --rebase
        ciaa = commit -a -C HEAD --amend
        archive-ref = !git update-ref refs/archive/$1-$(date '+%Y%m%d-%s') $1 && git branch -D
        list-archive-ref = for-each-ref --sort=-authordate --format='%(refname) %(objectname:short) %(contents:subject)' refs/archive/
        rem = !git archive-ref
        lsrem = !git list-archive-ref
